<div class="form-group">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="user-name">
            <input type="text" name="userName" formControlName="name" placeholder="Enter user name">
        </div>
</div>
<br>
<div class="user-passw">
    <input type="password" name="userPassword" formControlName="password" placeholder="enyter user password">
</div>
<br>
<div class="button-form">
    <button type="submit">Login</button>
</div>
</form>
<p>user form value {{userForm.value| json}}</p>
<p>user form status {{userForm.status|json}}</p>
</div>